.container {
    background-color: #121113;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 90%;
    max-width: 800px;
    background-color: #37333b;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article {
    background-color: #2d2a31;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.article:hover {
    background-color: #3e3a41;
}

.articleTitle {
    color: #fff;
    margin: 0;
    cursor: pointer;
}

.articleContent {
    color: #b9b7bd;
    margin-top: 10px;
}
